# Ignore npm cache and dependencies
.npm/
node_modules/
package-lock.json

# Ignore Python specific files
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

.local/
.jupyter/
.cache/
.config/

# Jupyter and IPython
.ipynb_checkpoints/
.ipython/
